<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.rhymestore.android"
      android:versionCode="1"
      android:versionName="1.0">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="4"/>

    <application
        android:icon="@drawable/icon"
        android:name=".RhymestoreApplication"
        android:theme="@style/Theme.GDCatalog"
        android:label="@string/app_name">
        
        <uses-library android:name="com.google.android.maps" />

        <!-- First activity to launch -->
        <activity android:name=".SplashScreenActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All activities -->
        <activity android:name=".HomeActivity" />
        
    </application>
</manifest>